<ul class="sidebar-nav">
  <li>
    <a href="/inventory">Home</a>
  </li>
  <li>
    <a href="/inventory/category"> Categories </a>
  </li>

  <hr />

  <li>
    <a href="/inventory/category/create">Create Category</a>
  </li>
  <li>
    <a href="/inventory/item/create">Create Item</a>
  </li>
</ul>
